* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding: 100px;

  background-color: #1e2d3b;
}

div.record {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #2e3a46;

  height: 350px;
  max-width: 220px;

  padding: 20px;
  margin-bottom: 20px;

  color: white;
}

h2.title {

  font-size: 20px;
}

p.author, p.year {

  color: grey;
}

img.cover {

  width: 200px;
}
